page-about {
  .back-color {
  background-color:#EE9AE2;
  }
  .title-font {
  color:#A71093; 
  font-size: 28px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px; ;
  }
  .back-title {
  background-color:#EE9AE2;
  }
  .button-inner {
  flex-flow: column;
  }
  .button-color {
  background-color:#660D5A; 
  }
}
