page-ppt1 {
  .back-color {
  background-color:#E4D8E1;
  }
  .title-font {
  color: #0A0A0A; 
  font-size: 22px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px;
  padding-left: 40px;
  }
  .button-inner {
  flex-flow: column;
  }
  .button-color {
  background-color:#E4D8E1;
  }
  .button-style {
      border-radius: 8px 8px 8px 8px;
  }
}
