page-piano {
  .back-color {
  background-color:#97E693;
  }
  .title-font {
  color: #124E0F; 
  font-size: 26px; 
  font-family: 'Signika', sans-serif; 
  padding-left: 50px;
  }
  .button-inner {
  flex-flow: column;
  }
  .button-color {
  background-color:#0E9307;
  }
  .button-style {
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 2px #666;
  transform: translate(4px);
  }
  .button-label {
  padding-top: 40px;
  }

}
