page-piano {
  .back-color {
  background-color:#97E693;
  }
  .title-font {
  color: #124E0F; 
  font-size: 28px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 5px; ;
  }
  .button-inner {
  flex-flow: column;
  }
  .button-color {
  background-color:#0E9307;
  }
  .button-style {
      border-radius: 8px 8px 8px 8px;
  }


}
