page-about {
  .back-color {
  background-color:#E4D8E1;
  }
  .title-font {
  color:#841B78; 
  font-size: 22px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px;
  padding-left: 100px;
  }
  .back-title {
  background-color:#DFACD9;
  }
  .button-inner {
  flex-flow: column;
  }
  .button-color {
  background-color:#F6F397; 
  color:#660D5A;
  font-weight: bold;
  }
  .button-color2 {
  background-color:#660D5A; 
  }
  .resultados {
  color:#220523; 
  font-size: 28px; 
  background-color:#E4D8E1; 
  padding-bottom: 25px;
  padding-left: 65px;
  }
}
